* {
  margin: 0;
  padding: 0;
}
body {
    background: url(../assets/images/main_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  	background-repeat: no-repeat;
  	color: white;
}
.header-block {
  display: block;
  position: absolute;
  background-color: #8C4D4E;
  width: 100%;
  height: 75px;
  top: 0%;
}
.menu {
  display: block;
  position: absolute;
  left: 60%;
  top: 12%;
  height: 75px;
  z-index: 1;
}
ul.ul-nav {
  display: flex;
  padding: 0;
  justify-content: center;
}
li.li-nav {
  padding: 10px;
  list-style: none;
}
li.li-nav a {
  text-decoration: none;
  position: relative;
  font-family: "Play-Regular";
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-shadow: 0px 0px 1px white;
  transition: .2s;
}
li.li-nav a::before {
	content: "";
	width: 0;
	height: 3px;
	background-color: #FFAA00;
  box-shadow: 0px 0px 10px 1px #FFAA00;
	position: absolute;
	top: 99.9%;
	left: 0;
	transition: .5s;
	mix-blend-mode: multiply;
}
li.li-nav:hover a::before {
	width: 100%;
}
li.li-nav a::before {
	transition: .5s;
	mix-blend-mode: multiply;
}
li.li-nav a:hover {
  text-shadow: 0px 0px 5px white;
  transition: .5s;
}
#header-text {
  display: block;
  position: absolute;
  left: 10%;
  top: 25%;
}
#header-text span {
  font-family: "Play-Bold";
  font-size: 30px;
}
.logo {
  display: block;
  position: absolute;
  top: 16.5%;
  left: 6%;
}
.logo img {
  width: 55%;
}
.topline {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #F44AF4;
  box-shadow: 0px 0px 10px 1px #F44AF4;
  top: 100%;
}
.main-text {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#upper-main-text {
  display: block;
  position: relative;
  text-align: center;
  font-family: "Play-Bold";
  text-shadow: 0px 0px 10px black;
  font-size: 50px;
}
#bottom-main-text {
  display: block;
  position: relative;
  text-align: center;
  font-family: "Play-Regular";
  font-size: 26px;
}
.colored-text {
  color: #FFAA00;
  text-shadow: 0px 0px 5px #FFAA00;
}
.footer-block {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #8C4D4E;
  height: 3%;
  top: 97%;
}
.container {
  display: block;
  position: absolute;
  width: 80%;
  top: 50%;
  margin: 0 auto;
}
.textlogo {
  margin: 0px;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  font-size: 40px;
  float: left;
}
h1 {
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.main_text {
  display: block;
  position: absolute;
  top: 50%;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
@font-face {
  font-family: "Play-Regular";
	src: url("../assets/fonts/Play-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: "Play-Bold";
	src: url("../assets/fonts/Play-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
