@media screen and (min-width: 1300px) {
    .menu {
      left: 55%;
      top: 17%;
    }
    li.li-nav a {
      font-size: 24px;
    }
    .back-image-block {
      height: 400px;
      top: 2%;
    }
    .header-text-about {
      height: 70px;
      width: 20%;
    }
    .about-block {
      height: 500px;
    }
    .header-text-about span {
      font-size: 30px;
    }
    .about-text {
      width: 330px;
      top: 28%;
      left: 5%;
    }
    .about-text article {
      font-size: 23px;
    }
    #header-text-info {
      font-size: 32px;
      left: 10.5%;
      top: 19%;
    }
    .about-features {
      width: 330px;
      top: 28%;
      right: 5%;
    }
    .about-features article {
      font-size: 23px;
    }
    #header-text-features {
      font-size: 32px;
      right: 6.5%;
      top: 19%;
    }
    #header-map-location {
      font-size: 32px;
      left: 51%;
      top: 22.8%;
    }
    .map-location {
      width: 330px;
      top: 28%;
    }
}
@media screen and (min-width: 1600px) {
  .header-block {
    display: block;
    position: absolute;
    background-color: #8C4D4E;
    box-shadow: 0px 1px 5px 1px black;
    width: 100%;
    height: 75px;
    top: 0%;
    z-index: 1;
  }
  .menu {
    display: block;
    position: absolute;
    left: 61%;
    top: 12%;
    height: 75px;
    z-index: 1;
  }
  ul.ul-nav {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  li.li-nav {
    padding: 10px;
    list-style: none;
  }
  li.li-nav a {
    text-decoration: none;
    position: relative;
    font-family: "Play-Regular";
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 0px 0px 1px white;
    transition: .2s;
  }
  li.li-nav a::before {
  	content: "";
  	width: 0;
  	height: 3px;
  	background-color: #FFAA00;
    box-shadow: 0px 0px 10px 1px #FFAA00;
  	position: absolute;
  	top: 99.9%;
  	left: 0;
  	transition: .5s;
  	mix-blend-mode: multiply;
  }
  li.li-nav:hover a::before {
  	width: 100%;
  }
  li.li-nav a::before {
  	transition: .5s;
  	mix-blend-mode: multiply;
  }
  li.li-nav a:hover {
    text-shadow: 0px 0px 5px white;
    transition: .5s;
  }
  #header-text {
    left: 7%;
    top: 25%;
  }
  #header-text span {
    font-size: 30px;
  }
  .logo {
    top: 16.5%;
    left: 2%;
  }
  .logo img {
    width: 55%;
  }
  .back-image-block {
    width: 100%;
    top: 8%;
    height: 411px;
  }
  .header-text-about {
    width: 25%;
    height: 85px;
    top: 50%;
    left: 50%;
  }
  .header-text-about span {
    top: 50%;
    left: 50%;
    font-size: 40px;
  }
  .about-block {
    top: 50%;
    width: 100%;
    height: 50%;
  }
  .about-line {
    width: 100%;
    height: 4px;
    top: 0;
  }
  .about-text {
    width: 400px;
    height: 280px;
    top: 18%;
    left: 10%;
  }
  .about-text article {
    font-size: 25px;
    margin: 20px;
    margin-top: 33px;
  }
  #header-text-info {
    font-size: 35px;
    top: 8%;
    left: 15%;
  }
  .about-features {
    width: 400px;
    height: 280px;
    top: 18%;
    right: 10%;
  }
  .about-features article {
    font-size: 25px;
    margin: 20px;
    margin-top: 85px;
  }
  #header-text-features {
    font-size: 35px;
    top: 8%;
    right: 13%;
  }
  #header-map-location {
    top: 12%;
    left: 50%;
    font-size: 35px;
  }
  .map-location {
    top: 18%;
    left: 37.5%;
    width: 400px;
    height: 280px;
  }
  .map-location article {
    font-family: "Play-Regular";
    font-size: 25px;
    margin: 20px;
    margin-top: 90px;
  }
}
