@media screen and (min-width: 1300px) {
    .menu {
      left: 55%;
      top: 17%;
    }
    li.li-nav a {
      font-size: 24px;
    }
    .back-image-block {
      height: 400px;
      top: 2%;
    }
    .header-text-about {
      height: 70px;
      width: 20%;
    }
    .header-text-about span {
      font-size: 30px;
    }
    .about-text {
      width: 450px;
    }
    .about-text article {
      font-size: 23px;
    }
    #header-text-info {
      font-size: 32px;
      left: 16%;
    }
    .about-features {
      width: 450px;
    }
    .about-features article {
      font-size: 23px;
    }
    #header-text-features {
      font-size: 32px;
    }
    #header-map-location {
      font-size: 32px;
      left: 51%;
    }
}
